commands:
  # Allow to run SUDO comamnds for root.
  00sudo:
    command: 'echo Defaults:root \!requiretty >> /etc/sudoers'

container_commands:
  01create_mount_env:
    command: 'mkdir -p /tmp/envs'
    ignoreErrors: true
  02create__env_script:
    ignoreErrors: true
    command: |
      touch /tmp/envs/env_file
      echo -n > /tmp/envs/env_file
      for envvar in `jq '.optionsettings | {"aws:elasticbeanstalk:application:environment"}[] | .[]' /opt/elasticbeanstalk/deploy/configuration/containerconfiguration`
      do
        temp="${envvar#\"}";
        temp="${temp/=/=\"}";
        echo "export ${temp};" >> /tmp/envs/env_file
      done
