Resources:
  MediaCDN:
    Type: AWS::CloudFront::Distribution
    Properties:
      DistributionConfig:
        PriceClass: PriceClass_100
        DefaultCacheBehavior:
          Compress: true
          ForwardedValues:
            QueryString: false
            # We forward  header origin to allow getting font files from static and html files loaded async..
            # this config is relative to server_env/proxy/conf.d/default.conf -> Access-Control-Allow-Origin
            Headers: ["Origin"]
          TargetOriginId: SiteBucketOriginId
          ViewerProtocolPolicy: allow-all
        Enabled: true
        Origins: [
            {
                  "DomainName": {
                     "Fn::GetAtt": [
                         "AWSEBLoadBalancer",
                         "DNSName"
                     ]
                  },
                  "Id": "SiteBucketOriginId",
                  "CustomOriginConfig": {
                     "HTTPPort": "80",
                     "HTTPSPort": "443",
                     "OriginProtocolPolicy": "http-only"

                  }
             }
         ]
Outputs:
  MediaCDNDistribution:
    Description: "Gets the media CDN Distribution Id"
    Value: {"Ref": "MediaCDN"}
  SiteCDNDomainName:
    Description: "Gets the site CDN"
    Value: { "Fn::GetAtt" : [ "MediaCDN", "DomainName" ] }