option_settings:
#  aws:elb:listener:443:
#    ListenerProtocol: HTTPS
#    SSLCertificateId: `{"Ref" : "SiteSSL"}`
#    InstancePort: 80
#    InstanceProtocol: HTTP


#SiteSSL:
#  Type: AWS::CertificateManager::Certificate
#  Properties:
#    DomainName:
#       Fn::GetOptionSetting:
#         OptionName : DomainName
#         DefaultValue: ''
#    DomainValidationOptions:
#    - DomainName:
#        Fn::GetOptionSetting:
#          OptionName : DomainName
#          DefaultValue: ''
#      ValidationDomain:
#        Fn::GetOptionSetting:
#          OptionName : DomainName
#          DefaultValue: ''