#This sample requires you to create a separate configuration file to define the custom options for the SNS topic and SQS queue.
Resources:
  LaravelSQSQueue:
    Type: AWS::SQS::Queue
    Properties: 
      VisibilityTimeout:
        Fn::GetOptionSetting:
          OptionName: SQSVisibilityTimeout
          DefaultValue: 60

Outputs :
  LaravelQueueURL:
    Description : "URL of newly created SQS Queue"
    Value : { Ref : "LaravelSQSQueue" }
  LaravelQueueARN :
    Description : "ARN of newly created SQS Queue"
    Value : { "Fn::GetAtt" : [ "LaravelSQSQueue", "Arn"]}
  LaravelQueueName :
    Description : "Name newly created SQS Queue"
    Value : { "Fn::GetAtt" : [ "LaravelSQSQueue", "QueueName"]}