#This sample requires you to create a separate configuration file to define the custom options for the SNS topic and SQS queue.
Resources:
  LaravelSQSQueue:
    Type: AWS::SQS::Queue
    Properties: 
      VisibilityTimeout:
        Fn::GetOptionSetting:
          OptionName: SQSVisibilityTimeout
          DefaultValue: 60
  SQSUser:
    Type: AWS::IAM::User
  SQSPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Queues: [ { "Ref" : "LaravelSQSQueue" } ]
      PolicyDocument:
        Statement: [
           {
              "Sid": "FullAccess",
              "Effect": "Allow",
              "Principal": {
                "AWS" : { "Fn::GetAtt" : [ "SQSUser", "Arn" ] }
              },
              "Action": [
                 "sqs:*"
              ],
              "Resource": "*"
           }
        ]
  SQSAccess:
    Type: AWS::IAM::AccessKey
    Properties:
      UserName: { "Ref" : "SQSUser" }

Outputs :
  LaravelQueueURL:
    Description : "URL of newly created SQS Queue"
    Value : { Ref : "LaravelSQSQueue" }
  LaravelQueueARN :
    Description : "ARN of newly created SQS Queue"
    Value : { "Fn::GetAtt" : [ "LaravelSQSQueue", "Arn"]}
  LaravelQueueName :
    Description : "Name newly created SQS Queue"
    Value : { "Fn::GetAtt" : [ "LaravelSQSQueue", "QueueName"]}
  SQSAccessKey:
    Description: "The SQS access key"
    Value: { "Ref" : "SQSAccess" }
  SQSSecretKey:
    Description: "The SQS secret"
    Value: { "Fn::GetAtt" : [ "SQSAccess", "SecretAccessKey" ] }